:root {
    --primary-color: #592941;
    --secondary-color: #498467;
    --accent-color: #52B788;
    --accent2-color: #B2D3A8;
    --accent3-color: #EDE5A6;
}

* {
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0;
}

h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5rem;
}

h1, h2 {
    font-family: "Montserrat", sans-serif;
    color: var(--primary-color);
}

body {
    background-color: var(--accent-color);
}

main {
    background-color: var(--accent3-color);
    padding: 1rem;
    max-width: 800px;
    border: solid 2px var(--primary-color);
    margin-bottom: 2rem;
}

div {
    margin-top: 1rem;
    padding: 0 2rem;
}

p, li {
    font-family: "Lato", sans-serif;
    text-align: justify;
}

ul {
    padding-left: 1rem;
}

figcaption {
    font-family: "Roboto", sans-serif;
}

.wireframe {
    display: grid;
    grid-template-rows: 1fr 0.7fr;
    justify-content: center;
}

.large {
    padding-top: 2rem;
}

.large img {
    max-width: 700px;
}