:root {
    --primary-color: #093A3E;
    --secondary-color: #3AAFB9;
    --accent1-color: #64E9EE;
    --accent2-color: #EDBF85;  
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    max-width: 800px;
    margin: 0 auto;
}

header {
    display: grid;
    grid-template-columns: 50px auto 44px;
    align-items: center;
    padding: 1rem;
    background-color: var(--accent1-color);
}

header span {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    display: flex;
    justify-content: center;
}

#hamButton::before {
    content: "\2630";
}

#hamButton {
    width: 44px;
    height: 44px;
    font-size: 30px;
    border: none;
    background-color: var(--accent1-color);
    cursor: pointer;
}

nav {
    display: grid;
    grid-template-rows: 0fr;
    transition: grid-template-rows 0.5s ease-out;
}

nav ul {
    overflow: hidden;
}

nav.show {
    grid-template-rows: 1fr;
}

#menu {
    background-color: var(--accent1-color);
}

#menu li {
    list-style: none;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
}

#menu li a {
    text-decoration: none;
    color: var(--primary-color);
    display: block;
    padding: 0.75rem;
    border-top: solid 1px var(--primary-color);
    font-weight: 500;
}

#last-link {
    border-bottom: solid 1px var(--primary-color);
}

@media (max-width: 1025px) {
    #menu a:hover {
        background-color: var(--secondary-color);
    }

    .inner-cell {
        margin-bottom: 2rem;
    }

    .companies article {
        margin-top: 1.5rem;
    }

    .join-form, .join-cards {
        margin: 0.5rem;
    }

    .join-cards {
        margin-top: 2rem;
    }

    dialog {
        width: 90%;
    }
}

#hamButton.show::before {
    content: "x";
    font-family: "Montserrat", sans-serif;
    font-size: 2.3rem;
}

.wayfinding {
    margin-left: 0.2rem;
    color: var(--primary-color);
}

main img {
    width: 100%;
    max-width: 800px;
}

h1, h2 {
    color: var(--primary-color);
}

h1 {
    font-family: "Montserrat", sans-serif;
    margin-left: 1rem;
}

#home-cta {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    font-family: "Lato", sans-serif;
    font-size: 1rem;
    font-weight: 600;
    padding-bottom: 1.5rem;
    color: var(--primary-color);
}

.general-info {
    display: block;
    margin: 0 1rem 1rem;
    gap: 10px;
}

h2 {
    font-family: "Montserrat", sans-serif;
    font-size: 1.2rem;
    padding: 1rem;
    background-color: var(--secondary-color);
    border-bottom: solid 1px var(--primary-color);
}

#weather h3 {
    margin-bottom: 1rem;
    color: var(--primary-color);
}

.inner-cell {
    border: solid 1px var(--primary-color);
}

.inner-cell li {
    list-style: none;
    margin-bottom: 1rem;
    text-align: justify;
}

#weather-icon {
    width: 100px;
}

#weather figcaption {
    font-family: "Lato", sans-serif;
    text-transform: capitalize;
    font-weight: 700;
}

.forecast-container {
    display: block;
    margin-top: 2rem;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.forecast-day {
    display: block;
    max-width: 200px;
    text-align: center;
    font-family: "Lato", sans-serif;
    background-color: var(--accent2-color);
    padding: 0.5rem;
    border-radius: 0.5rem;
    margin: 0 auto 1rem auto;
}

.forecast-day img {
    width: 100px;
}


#events ul {
    padding: 1rem;
}

#events h3 {
    font-family: "Montserrat", sans-serif;
    color: var(--primary-color);
}

#events li p {
    margin-top: 0.3rem;
    font-family: "Lato", sans-serif;
}

#weather {
    padding: 1rem;
    text-align: center;
}

#weather h3 {
    font-family: "Montserrat", sans-serif;
}

#weather p {
    font-family: "Lato", sans-serif;
}

#spotlights-h1 {
    margin-top: 3rem;
}

.company-email {
    word-break: break-word;
    overflow-wrap: anywhere;
    display: inline-block;
    max-width: 100%;
}

.company-url {
    word-break: break-word;
    overflow-wrap: anywhere;
    display: inline-block;
    max-width: 100%;
}

.spotlight-url {
    word-break: break-word;
    overflow-wrap: anywhere;
    display: inline-block;
    max-width: 100%;
}

.buttons {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin: 3rem 1rem 1rem 1rem;
}

.buttons button {
    width: 200px;
    height: 44px;
    cursor: pointer;
    font-family: "Lato", sans-serif;
    background-color: var(--accent1-color);
    border-radius: 5px;
    border-color: var(--primary-color);
}

.buttons button:hover {
    background-color: var(--secondary-color);
}

.companies.card {
    display: block;
    margin: 2rem 1rem;
}

.companies.list {
    display: block;
    margin: 2rem 0 2rem 1rem;
}

.companies article {
    border: solid 1px var(--primary-color);
}

.companies article img {
    width: 100%;
    max-width: 80px;
    height: 80px;
}

.companies article h2 {
    height: 78px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.companies li {
    font-family: "Lato", sans-serif;
    margin: 0 0.5rem 0.5rem 2rem;
}

.companies.card li {
    list-style: none;
}

.companies div {
    padding: 0.5rem;
    display: flex;
}

.companies a {
    text-decoration: none;
    color: var(--primary-color);
}

.spotlights {
        display: block;
        margin: 2rem 1rem;
    }

.spotlights article {
    border: solid 1px var(--primary-color);
    margin-top: 1rem;
}

.spotlights article img {
    width: 100%;
    max-width: 80px;
    height: 80px;
}

.spotlights article h2 {
    height: 78px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.spotlights li {
    font-family: "Lato", sans-serif;
    margin: 0 0.5rem 0.5rem 2rem;
}

.spotlights div {
    padding: 0.5rem;
    display: flex;
}

.spotlights a {
    text-decoration: none;
    color: var(--primary-color);
}

.join-elements {
    display: block;
    gap: 2rem;
    font-family: "Lato", sans-serif;
    margin-bottom: 1rem;
}

.join-form, .join-cards {
    border: solid 1px var(--primary-color);
}

form {
    margin: 1rem;
}

.form-element {
    display: block;
    width: 100%;
}

.label {
    margin-bottom: 1rem;
}

.field44px {
    height: 44px;
    padding: 0.5rem;
}

.field {
    height: 100px;
    padding: 0.5rem;
}

#form-radio label {
    display: block;
    margin: 0.4rem auto;
}

#form-radio input[type="radio"] {
    margin-right: 0.3rem;
    width: 15px;
    height: 15px;
}

.form-button {
    background-color: var(--accent2-color);
    cursor: pointer;
}

.form-button:hover {
    background-color: var(--secondary-color);
}

.cards {
    margin-left: 1rem;
    margin-right: 1rem;
    padding-bottom: 1rem;
}

.membership-card {
    width: 100%;
    height: 100px;
    border: solid 1px var(--primary-color);
    margin: 15% auto 0 auto;
    opacity: 0.5;
    text-align: center;
    padding-top: 25px;
    background-color: var(--accent1-color);
    border-radius: 5px 20px;
    transition: all 1s ease;
}

.membership-card-open {
    margin: 1rem auto 0 auto;
    opacity: 1;
}

.membership-card p {
    margin-bottom: 0.5rem;
}

.card-button {
    cursor: pointer;
}

dialog {
    margin: auto;
}

dialog h2 {
    border: none;
}

.modal-title {
    display: flex;
    justify-content: space-between;
    background-color: var(--secondary-color);
    border-bottom: 1px solid var(--primary-color);
}

dialog button {
    width: 44px;
    height: 44px;
    cursor: pointer;
    margin: 0.5rem;
    background-color: var(--accent2-color);
}

dialog p {
    margin: 1rem 1rem 0 1rem;
}

dialog ul {
    margin: 0 1rem 1rem 2rem;
}

dialog::backdrop {
    background-color: var(--secondary-color);
    opacity: 0.4;
}

.thankyou {
    max-width: 500px;
    margin: auto auto 2rem auto;
    font-family: "Lato", sans-serif;
    border: solid 1px var(--primary-color);
    padding-bottom: 1rem;
}

.thankyou h2 {
    display: flex;
    justify-content: center;
}

.thankyou p {
    margin-top: 0.5rem;
    margin-left: 1rem;
}

.allplaces {
    font-family: "Lato", sans-serif;
}

.allplaces div {
    max-width: 288px;
    height: auto;
    margin: 1rem auto;
    border: 1px solid var(--primary-color);
    border-radius: 8px;
    overflow: hidden;

    display: grid;
    justify-content: center;
    grid-template-areas: 
    "name"
    "photo"
    "description"
    "location"
    "button";
}

.allplaces h2 {
    grid-area: name;
    text-align: center;
}

.allplaces img {
    grid-area: photo;
    width: 288px;
    height: 192px;
    opacity: 0;
    transition: opacity 3s ease-in;
}

.allplaces img.loaded {
  opacity: 1;
}

.allplaces address {
    margin: 1rem;
    grid-area: location;
}

.allplaces p {
    margin: 1rem;
    grid-area: description;
}

.allplaces button {
    margin: 1rem auto;
    width: 100px;
    height: 44px;
    display: block;
    margin: 0 auto 1rem auto;
    background-color: var(--accent2-color);
    border-radius: 8px;
    cursor: pointer;
    grid-area: button;
}

.allplaces button:hover {
    background-color: var(--accent1-color);
}

#visitor-message {
    display: none;
}

#visitor-message.visit-message {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--secondary-color);
    margin-top: 0.5rem;
}

#visitor-message.visit-message h2 {
    border: none;
}

#visitor-message.visit-message button {
    margin: 1rem;
    width: 44px;
    height: 44px;
    background-color: var(--accent2-color);
    border-radius: 8px;
    cursor: pointer;
}

footer {
    display: block;
    padding: 2rem;
    background: var(--accent1-color);
    max-width: 800px;
    height: 400px;
  }

footer div {
    margin-bottom: 1rem;
}

footer p {
  font-family: "Lato", sans-serif;
  margin-bottom: 0.2rem;
}

.social-media {
    display: flex;
    justify-content: center;
}

.social-media img {
    width: 70px;
    height: 70px;
}