@media only screen and (min-width: 640px) {

    .allplaces div {
        max-width: 600px;
        grid-template-areas: 
        "photo name"
        "photo description"
        "photo location"
        "photo button";
    }

    .allplaces img {
        width: 300px;
        height: 200px;
        transition: filter 0.3s ease, opacity 3s ease-in;
    }

    .allplaces img.loaded {
    opacity: 1;
    }

    .allplaces img:hover {
        filter: blur(2px);
    }

    footer {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }

}