:root {
    --primary-color: #592941;
    --secondary-color: #498467;
    --accent1-color: #52B788;
    --accent2-color: #B2D3A8;
    --accent3-color: #EDE5A6;
}

* {
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0;
}

header {
    border-bottom: 2px solid var(--primary-color);
    padding-bottom: 1rem;
    height: auto;
}

header img {
    display: none;
}

.navigation {
    display: none;
}

.navigation.show {
    display: block;
    list-style: none;
    padding-top: 1rem;
}

.navigation.show li {
    text-align: center;
    padding-bottom: 1rem;
}

.navigation.show a {
    font-family: "Roboto", sans-serif;
    font-size: 1.5rem;
    text-decoration: none;
    color: var(--primary-color);
    font-weight: 700;
}

.navigation.show a:hover {
    color: var(--accent1-color);
    text-decoration: overline;
}

a {
    text-decoration: none;
    font-family: "Roboto", sans-serif;
    color: var(--primary-color);
}

#menu {
    text-decoration: none;
}

#menu::after {
    content: "≡";
    font-size: 3rem;
    font-weight: 700;
    color: var(--primary-color);
    display: flex;
    justify-content: flex-end;
    margin-top: 1rem;
    margin-right: 2rem;
}

#menu.show::after {
    content: "X";
    font-family: "Roboto", sans-serif;
    font-size: 2rem;
    color: var(--primary-color);
}

main {
    display: grid;
    padding-top: 1rem;
    grid-template-columns: 1fr;
}  

main h1 {
    display: flex;
    justify-content: center;
    font-family: "Montserrat", sans-serif;
    margin: 1rem 0;
    color: var(--primary-color);
    grid-area: 1/1/2/2;
    z-index: 1;
}

.services {
    grid-area: 1/1/2/2;
    gap: 2rem;
    margin-top: 6rem;
    z-index: 1;
}

@media (max-width: 640px) {    

    .hero-img {
        display: none;
    }    

    .cta-home {
        margin-top: 44rem;
        font-size: 0.8rem;
    }

    .newsletter {
        margin-top: 50rem;
    }

    #checkbox label span {
    font-size: 0.7rem;
    }
}

.services img {
    width: 100%;
    max-width: 220px;
    height: 150px;
    border: solid 2px var(--primary-color);
}

figcaption {
    font-family: "Roboto", sans-serif;
    text-align: center;
    color: var(--primary-color);
}

.cta-home {
    grid-area: 1/1/2/2;
    z-index: 1;
    background-color: var(--accent1-color);
    color: var(--primary-color);
    border: 2px solid var(--primary-color);
    padding: 5px 10px;
    border-radius: .5rem;
    height: 44px;
    display: flex;
    align-items: center;
}

.cta-home:hover {
    background-color: var(--accent2-color);
}

.newsletter {
    grid-area: 1/1/2/2;
    width: 90%;
    z-index: 1;
    background-color: var(--accent3-color);
    border: solid 2px var(--primary-color);
    margin-bottom: 2.5rem;
    padding: 1rem;
    border-radius: .5rem;
}

.newsletter legend {
    font-family: "Roboto", sans-serif;
    padding: 0 10px;
    color: var(--primary-color);
}

.newsletter fieldset {
    padding: 1rem 1rem 2rem 1rem;
    border: solid 2px var(--primary-color);
    border-radius: .5rem;
}

.newsletter label, .newsletter input {
    padding: 5px;
}

.newsletter button {
    background-color: var(--accent1-color);
    color: var(--primary-color);
    border: 2px solid var(--primary-color);
    padding: 5px 10px;
    border-radius: .5rem;
    margin-top: 2rem;
    width: 100%;
    height: 44px;
    cursor: pointer;
}

.newsletter button:hover {
    background-color: var(--accent2-color);
}

label, input {
    font-family: "Roboto", sans-serif;
    color: var(--primary-color);
}

input {
    width: 100%;
}

img[loading="lazy"] {
    animation: fade 10s;
}

dialog {
    margin: auto;
}

dialog button {
    width: 44px;
    height: 44px;
    cursor: pointer;
    display: block;
    margin: 1rem auto;
    background-color: var(--accent2-color);
}

dialog p {
    margin: 1rem 1rem 0 1rem;
    text-align: center;
}

dialog::backdrop {
    background-color: var(--secondary-color);
    opacity: 0.5;
}

footer {
	align-items: center;
    border-top: 2px solid var(--primary-color);
    font-family: "Roboto", sans-serif;
    color: var(--primary-color);
    margin-bottom: 2rem;
}

footer p {
        margin: 0 1rem;
    }

footer a {
        margin-left: 1rem;
    }

.sociallinks {
    display: flex;
}

.sociallinks img {
    width: 50px;
    padding: 10px;
}

/* About Us page */

.ceo img {
    width: 100%;
    max-width: 300px;
    max-height: 300px;
    border: solid 2px var(--primary-color);
}

p {
    text-align: justify;
    font-family: "Lato", sans-serif;
}

.ceo p {
    margin: 0.5rem 1rem;
}

h2 {
    display: flex;
    justify-content: center;
    font-family: "Roboto", sans-serif;
    color: var(--primary-color);
}

.board {
    margin: 2rem 0;
}

.board-figs {
    margin: 1rem;
    gap: 10px;
}

.board img {
    width: 100%;
    max-width: 200px;
    border: solid 2px var(--primary-color);
}

.about-banner img{
    max-width: 100%;
}


/* Services page */

.service {
    padding: 1rem;
}

.service h2 {
    margin-bottom: 0.5rem;
}

.service img {
    display: flex;
    justify-content: center;
}

.service p {
    margin-top: 0.5rem;
}

.clients h2 {
    margin-top: 2rem;
    margin-bottom: 0.5rem;
}

#clients {
    display: block;
}

#clients section {
    max-width: 280px;
    border: solid 2px var(--primary-color);
    border-radius: 0.5rem;
    padding: 1rem;
    margin: 1rem;
    background-color: var(--accent3-color);
}

#clients h2 {
    margin: 0 auto 1rem auto;
    font-size: 1rem;
}

#clients p {
    word-break: break-all;
    overflow-wrap: break-word;
    white-space: normal;
}

#clients address {
    margin-bottom: 0.5rem;
}

/* Contact form */

.services-form {
    max-width: 500px;
    margin: 1rem 0.5rem;
    background-color: var(--accent3-color);
    padding: 1rem 1rem 0 1rem;
    border-radius: .5rem;
    border: solid 2px var(--primary-color);
}

.form-item {
    margin-top: 1rem;
    font-family: "Roboto", sans-serif;
    color: var(--primary-color);
}

.button {
    height: 44px;
    padding: 5px;
    background-color: var(--accent1-color);
    width: 100%;
    margin: 2rem 0;
    font-family: "Roboto", sans-serif;
    font-size: 1.2rem;
    cursor: pointer;
    border-radius: .5rem;
}

.button:hover {
    background-color: var(--accent2-color);
}

select, textarea, input[type = "text"], input[type = "date"] {
    width: 100%;
    font-family: "Lato", sans-serif;
    color: var(--primary-color);
    border-radius: 8px;
}

input[list="countries"]::placeholder {
    color: var(--primary-color);
}

textarea {
    padding: 10px 5px;
    height: 100px;
    font-family: "Lato", sans-serif;
}

select, input[type = "date"], input[type = "text"], input[type = "time"], input[type = "email"], input[list="countries"] {
    height: 44px;
    padding: 5px;
    border-radius: 8px;
}

#checkbox {
    display: flex;
    align-items: center;
    }

/* Contact page */

.contact {
    margin: 2rem auto;
    border: 2px solid var(--primary-color);
    padding: 10px;
    background-color: var(--accent2-color);
    width: 95%;
}

.inner-grid {
    background-color: var(--accent3-color);
    padding: 10px;
}

.inner-cell {
    border: 2px solid var(--primary-color);
    padding: 5px;
    text-align: center;
    background-color: var(--accent2-color);
    width: 100%;
}

.inner-cell p {
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
    margin-top: 2rem;
    padding: 0 5px;
}

.inner-cell h2 {
    margin-top: 0.5rem;
}

.responsive-map {
    width: 100%; 
    max-width: 500px; 
    height: 500px;
}

@keyframes fade {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.thankyou {
    max-width: 280px;
    height: auto;
    margin: auto auto 2rem auto;
    font-family: "Lato", sans-serif;
    border: solid 2px var(--primary-color);
    padding-bottom: 1rem;
    background-color: var(--accent3-color);
    border-radius: 0.5rem;
}

#thankyou-h1 {
    margin-top: 2rem;
}

.thankyou h2 {
    margin: 1rem;
}

.thankyou p {
    margin: 0 1rem 0.5rem 1rem;
}

#wayfinding-thankyou {
    margin: 0 0.2rem;
    color: var(--primary-color);
}

#wayfinding-index {
    margin-top: -1217px;
    margin-left: 0.2px;
}

#wayfinding-contact {
    margin-top: -87px;
    margin-left: 0.2px;
}

#wayfinding-about {
    margin-top: -87px;
    margin-left: 0.2px;
}

#wayfinding-services {
    margin-top: -1419px;
    margin-left: 0.2px;
}